.edit-container {
  position: absolute;
  background-color: #fff;
  width: 400px;
  margin: 16px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
  animation: fadeIn ease-out 0.2s;
}

.edit-container form {
  position: relative;
}

.edit-container form input,
.edit-container form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  font-size: 1.2em;
  outline: none;
  resize: none;
  font-family: inherit;
}

.btn {
  position: absolute;
  bottom: -23px;
  right: 10px;
}

.edit-btn {
  color: #fff;
  background-color: #ccc;
  margin-right: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.done:hover {
  background-color: #33b5e5;
}

.cancel:hover {
  background-color: #ff4444;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
