.note {
  background-color: #fff;
  width: 240px;
  margin: 16px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
  float: left;

  
 
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

.note p {
  font-size: 1.1em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  float: right;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ccc;
  background-color: #fff;
}

.note button:hover {
  color: #33b5e5;
}

.note button.delete-btn:hover {
  color: #ff4444;
}

/* @media (max-width: 500px){
  .note {
    width: 185px;
  }
} */