@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  /* width: 100%; */
}

body {
  background-color: #fcf9f9;
  /* background-image: url("https://www.transparenttextures.com/patterns/tileable-wood.png"); */
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
}

/* #root {
  width: 100%;
} */
.container {
  width: 90%;
  margin: 0 auto;
}



::-webkit-scrollbar {
  display: none;
}